{%extends 'accounts/base.html'%}
<!--Title-->
{%block title%}{%endblock%}
<!--Content-->
{%block content%}
<div class="container mt-3">
  <div id="alert-box"></div>
  <div id="form-wrapper">
    <form id="form">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" required class="form-control" id="email" />
      </div>
      <button type="submit" id="submit" class="btn btn-outline-primary">
        Password Reset
      </button>
    </form>
  </div>
</div>
{%endblock%}
<!--JavaScript-->
{%block javascript%}
<script type="text/javascript">
  var form = document.getElementById("form-wrapper");
  var submit = document.getElementById("submit");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("Form Submitted");
    var url="{%url 'api:requestPasswordReset-list'%}";
    fetch(url,{
        method:"POST",
        body:JSON.stringify({
            email=email,
        }),
        headers:{
            "Content-Type":"application/json",
             csrfmiddlewaretoken: "{{csrf_token}}",
        },
    })
    .then((response)=>response.json())
    .then(function (data){
        console.log(response)
    })
  });
   // Alert Handlers
  var alertBox = document.getElementById("alert-box");
  var handleAlerts = (type, msg) => {
    alertBox.innerHTML = `
      <div class="alert alert-${type}" role="alert">
      ${msg}
        </div>`;
    setTimeout(function () {
      alertBox.remove();
    }, 5000);
  };
</script>

{%endblock%}
