<!-- Navbar white #ff9e33-->
<nav
  class="navbar fixed-top navbar-expand-lg text-white scrolling-navbar"
  style="background-color: #3f13f8"
>
  <div class="container">
    <a class="navbar-brand waves-effect" href="" target="_blank">
      <strong class="" style="color: #ff9e33">DHANA</strong>
    </a>
    <button
      class="navbar-toggler ml-2"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars fa-lg text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect text-white" href="{%url 'shop:home'%}"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect text-white" href="" target="_blank"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-effect text-white"
            href=""
            target="_blank"
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect text-white" href="" target="_blank"
            >Contact us</a
          >
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect">
            <span
              class="badge black z-depth-1 mr-1"
              style="border-radius: 35px"
            >
              1
            </span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        </li>

        <li class="nav-item">
          <a
            href="{%url 'accounts:login'%}"
            class="nav-link waves-effect text-white"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            href="{%url 'accounts:customerSignup'%}"
            class="nav-link waves-effect text-white"
          >
            Signup
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
