{%extends 'shop/main.html'%}
<!--Title-->
{%block title%}{%endblock%}
<!--Content-->
{%block content%}
<main class="pt-4">
  <div class="container dark-grey-text mt-5">
    {%include 'includes/messages.html'%}
    <!--Grid row-->
    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img src="{{product.image.url}}" class="img-fluid" alt="" />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!--Content-->
        <div class="p-4">
          <div class="mb-3">
            <a>
              <span class="badge purple mr-1"
                >{{product.category.category|title}}</span
              >
            </a>
            <a>
              <span class="badge blue mr-1">{{product.brand.brand|title}}</span>
            </a>
            {%if product.discount_price > 0%}
            <a>
              <span class="badge red mr-1">Offer</span>
            </a>
            {%endif%}
          </div>

          <p class="lead">
            {%if product.discount_price > 0%}
            <span class="mr-1">
              <del>{{product.price}} Kshs</del>
            </span>

            <span>{{product.discount_price}} Kshs</span>
            {%else%}
            <span>{{product.price}} Kshs</span>
            {%endif%}
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{product.description|title}}</p>
          <div class="row">
            <div class="col-6">
              <form class="d-flex justify-content-left">
                <!-- Default input -->
                <input
                  type="number"
                  value="1"
                  aria-label="Search"
                  class="form-control"
                  style="width: 100px"
                />
              </form>
            </div>
            <div class="col-6">
              <a href="{%url 'shop:addToCart' product.id%}">
                <button class="btn btn-primary btn-md my-0 p">
                  Add to cart
                  <i class="fas fa-shopping-cart ml-1"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
        <!--Content-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <hr />

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 text-center">
        <h4 class="my-4 h4">Related Products</h4>
        <p></p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>

{%endblock%}
<!--JavaScript-->
{%block javascript%} {%endblock%}
